mixin soundCard(audio = {})
  div( class="box-shadow honey-border border-dashed-thick  spinach banana-text lucida-text heavy key", data-key=audio.keyCode) 
    kbd.honey-text.blue-text-shadow= audio.keyBind.toUpperCase()
    span.audio.smallcaps.wordwrap-break.honey-text= audio.title
  audio(src=`/public/uploads/${audio.audio}`, data-key=audio.keyCode)
  