mixin soundCard(sound = {})
  .eggplant.banana-text.lucida-text.heavy.key(data-key=${sound.keyBind}) 
    kbd= ${sound.keyText}
    span.sound= ${sound.title}
  audio(data-key=${sound.keyBind} src=${sound.url})
  