mixin soundCard(audio = {})
  div( class="box-shadow pomegranate-border border-dashed-thick green-apple lucida-text heavy key", data-key=audio.keyCode) 
    kbd.blueberry-text.bubble-gum-text-shadow= audio.keyBind.toUpperCase()
    span.audio.allcaps.wordwrap-break.blueberry-text.arial-black-text= audio.title
  audio(src=`/uploads/${audio.audio}`, data-key=audio.keyCode)
  